<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>We use your step data to track your progress and rank in FitCats</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need access to update your step data in FitCats</string>
</dict>
</plist>
